body {
    margin: 0;
    padding: 0;

    font-family: 'Roboto', Arial, sans-serif;
    font-size: 16px;
    line-height: 22px;
    font-weight: 400;
    color: white;

    background-color: #849d8f;
}

a {
    text-decoration: none;
    color: white;

    /* border-bottom: 1px solid rgba(256, 256, 256, 0.2); */
}

.visually-hidden {
    position: absolute;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;
}

.site-nav,
.user-nav,
.catalog-nav {
    list-style: none;
}

.site-nav {
    font-size: 16px;
    line-height: 18px;
    font-weight: 700;
}

.catalog-nav {
    display: none;
}

.user-nav {
    font-size: 14px;
    line-height: 16px;
    font-weight: 500;
}

.search-popup,
.login-popup,
.basket-popup {
    display: none;
}

.nav-item-search::before {
    content: url("../img/icons/search.svg");
}

.nav-item-login::before {
    content: url("../img/icons/login.svg");
}

.basket-link-on::before {
    content: url("../img/icons/basket-on.svg");
}

.basket-link-off::before {
    content: url("../img/icons/basket-off.svg");
}

.short-contact {
    font-weight: 700;
}

.working-time-tel {
    font-size: 14px;
    line-height: 16px;
}

.header-tel {
    font-size: 22px;
    line-height: 24px;
}

.breadcrumbs li:not(:first-child)::before {
    content: "»";
}

.title-page {
    font-size: 35px;
    font-weight: 700;
    line-height: 41px;
}

.about-us {
    color: #323232;

    background-color: #ebdfc5;
    background-image: url("../img/backgrounds/waffle.jpg");
}

.about-us-text {
    font-size: 24px;
    line-height: 30px;
    font-weight: 500;
}

.advantages {
    list-style: none;
}

.advantages .own-technology::before {
    content: url("../img/icons/advantage-1.svg");
}

.advantages .good-ingredients::before {
    content: url("../img/icons/advantage-2.svg");
}

.advantages .trusted-partners::before {
    content: url("../img/icons/advantage-3.svg");
}

.advantages .special-delivery::before {
    content: url("../img/icons/advantage-4.svg");
}

.news-blog {
    color: #323232;

    background-color: #fff;
    background-image: url("../img/backgrounds/strawberry.jpg");
    background-repeat: no-repeat;
}

.title-news-blog {
    font-size: 14px;
}

.text-news-blog {
    font-size: 24px;
    font-weight: 700;
    line-height: 30px;
    text-decoration: underline;
    color: #323232;
}

.mailing {
    color: #5a5a5a;

    background-color: #f8f7f4;
}

.contacts {
    font-size: 14px;
    line-height: 20px;
    color: #323232;

    background-color: #fff;
}

.tel-link,
.address {
    font-size: 18px;
    font-weight: 700;
    line-height: 24px;
    color: #323232;
}

.tel-link {
    line-height: 22px;
}

.products-list {
    list-style: none;
}

.price {
    font-size: 45px;
    font-weight: 700;
}

.weight {
    font-size: 30px;
}

.socials-list {
    list-style: none;
}

.socials-list li {
    font-size: 0;
}

.twitter::before {
    content: url("../img/icons/social/twitter.svg");
}

.instagram::before {
    content: url("../img/icons/social/instagram.svg");
}

.facebook::before {
    content: url("../img/icons/social/facebook.svg");
}

.vkontakte::before {
    content: url("../img/icons/social/vkontakte.svg");
}

.about-company-list li {
    font-size: 13px;
    line-height: 16px;
    list-style: none;
    font-weight: inherit;
}

.suppliers {
    font-weight: 700;
}

.suppliers::before {
    content: url("../img/icons/heart.svg");
}

.made-in {
    font-size: 12px;
    line-height: 18px;
}

.feedback {
    display: none;
}

.breadcrumbs {
    font-size: 14px;
    line-height: 16px;
    list-style: none;
}

/* .filter-range {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 220px;
    height: 37px;

    background-color: black;
    border-radius: 18px;
}

.line {
    width: 176px;
    height: 4px;
    display: flex;
    align-items: center;

    background-color: rgba(255, 255, 255, 0.5);
}

.line-range {
    position: relative;
    left: 23px;

    width: 98px;
    height: 100%;
    display: flex;
    align-items: center;

    background-color: white;
}

.switch {   
    position: relative;

    width: 4px;
    height: 4px;

    background-color: black;
    border: 8px solid white;
    border-radius: 50%;

    transition: transform 0.15s ease-in-out;
}

.switch:hover,
.switch:active,
.switch:focus {
    transform: scale(1.1);
}

.switch-min {
    left: -10px;
}

.switch-max {
    left: 78px;
} */