body {
    margin: 0;
    padding: 0;

    font-family: 'Roboto', Arial, sans-serif;
    font-size: 16px;
    line-height: 22px;
    font-weight: 400;
    color: white;

    background-color: #849d8f;
}

a, 
.link {
    text-decoration: none;
    color: white;

    border-bottom: 1px solid rgba(256, 256, 256, 0.2);
}

.visually-hidden {
    position: absolute;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;
}

.container {
    width: 1146px;
    margin: 0 auto;
}

.index-columns {
    display: flex;
    justify-content: space-between;
}

.main-header {
    margin-top: 12px;
}

.layout-start {
    display: flex;
}

.layout-end {
    text-align: right;
}

.link-logo {
    align-self: flex-start;
    border-bottom: none;
}

.site-nav,
.user-nav,
.catalog-nav {
    list-style: none;
}

.site-nav,
.user-nav {
    display: flex;
}

.site-nav {
    padding-left: 24px;

    font-size: 16px;
    line-height: 18px;
    font-weight: 700;
}

.site-nav li {
    margin-right: 28px;
}

.catalog-nav {
    display: none;
}

.user-nav {
    font-size: 14px;
    line-height: 16px;
    font-weight: 500;
}

.user-nav li {
    margin-left: 10px;
}

.search-popup,
.login-popup,
.basket-popup {
    display: none;
}

.nav-item-search,
.nav-item-login,
.basket-link-off,
.basket-link-on {
    display: inline-block;
    padding: 8px;

    background-color: rgba(256, 256, 256, 0.2);

    border-radius: 25px;
}

.nav-item-login,
.basket-link-off,
.basket-link-on {
    padding: 6px 18px;
}

.nav-item-search {
    min-width: 17px;
    min-width: 17px;

    font-size: 0;

    background-image: url("../img/icons/search.svg");
    background-repeat: no-repeat;
    background-size: 17px 17px;
    background-position: 50% 50%;
}

.nav-item-login::before {
    content: url("../img/icons/login.svg");
}

.basket-link-on::before {
    content: url("../img/icons/basket-on.svg");
}

.basket-link-off::before {
    content: url("../img/icons/basket-off.svg");
}

.short-contact {
    font-weight: 700;
}

.working-time-tel {
    font-size: 14px;
    line-height: 16px;
}

.header-tel {
    border: none;

    font-size: 22px;
    line-height: 24px;
}

.breadcrumbs {
    display: flex;
    padding: 0;
}

.breadcrumbs li {
    margin-right: 8px;
}

.breadcrumbs li:not(:first-child)::before {
    content: "»";
    margin-right: 8px;
}

.title-page {
    font-size: 35px;
    font-weight: 700;
    line-height: 41px;
}

.products-list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 0;
}

.products-list li {
    width: 267px;
}

.product-img {
    border-radius: 50%;
}

.about-us {
    padding: 20px;
    min-height: 265px;

    color: #323232;
    background-color: #ebdfc5;
    background-image: url("../img/backgrounds/waffle.jpg");

    border-radius: 20px;
}

.about-us-text {
    font-size: 24px;
    line-height: 30px;
    font-weight: 500;
}

.advantages {
    display: flex;
    flex-wrap: wrap;
    padding: 0;

    list-style: none;
}

.advantages li {
    width: 540px;
}

.advantages .own-technology::before {
    content: url("../img/icons/advantage-1.svg");
}

.advantages .good-ingredients::before {
    content: url("../img/icons/advantage-2.svg");
}

.advantages .trusted-partners::before {
    content: url("../img/icons/advantage-3.svg");
}

.advantages .special-delivery::before {
    content: url("../img/icons/advantage-4.svg");
}

.news-mailing {
    margin: 40px 0;
}

.news-blog {
    flex: 1;
    padding: 20px;
    margin-right: 13px;
    min-height: 180px;

    color: #323232;

    background-color: #fff;
    background-image: url("../img/backgrounds/strawberry.jpg");
    background-repeat: no-repeat;
    border-radius: 20px;
}

.title-news-blog {
    font-size: 14px;
}

.text-news-blog {
    font-size: 24px;
    font-weight: 700;
    line-height: 30px;
    text-decoration: underline;
    color: #323232;
}

.mailing {
    flex: 1;
    padding: 20px;
    margin-left: 13px;
    min-height: 180px;

    color: #5a5a5a;

    background-color: #f8f7f4;
    border-radius: 20px;
}

.contacts {
    font-size: 14px;
    line-height: 20px;
    color: #323232;

    background-color: #fff;
}

.tel-link,
.address {
    font-size: 18px;
    font-weight: 700;
    line-height: 24px;
    color: #323232;
}

.tel-link {
    line-height: 22px;
}

.products-list {
    list-style: none;
}

.price {
    font-size: 45px;
    font-weight: 700;
}

.weight {
    font-size: 30px;
}

.main-footer {
    display: flex;
    justify-content: space-between;
    margin-top: 18px;
}

.socials-list {
    display: flex;

    list-style: none;
}

.social-icon {
    margin-right: 11px;

    font-size: 0;
    
    border: none;
}

.twitter::before {
    content: url("../img/icons/social/twitter.svg");
}

.instagram::before {
    content: url("../img/icons/social/instagram.svg");
}

.facebook::before {
    content: url("../img/icons/social/facebook.svg");
}

.vkontakte::before {
    content: url("../img/icons/social/vkontakte.svg");
}

.about-company-list {
    display: flex;
    flex-wrap: wrap;
    width: 350px;
}

.about-company-list li {
    width: 170px;

    font-size: 13px;
    line-height: 16px;
    list-style: none;
    font-weight: inherit;
}

.suppliers {
    font-weight: 700;
}

.suppliers::before {
    content: url("../img/icons/heart.svg");
}

.made-in {
    font-size: 12px;
    line-height: 18px;
}

.made-in .logo-htmlacademy {
    border: none;
}

.feedback {
    display: none;
}

.breadcrumbs {
    font-size: 14px;
    line-height: 16px;
    list-style: none;
}

/* .filter-range {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 220px;
    height: 37px;

    background-color: black;
    border-radius: 18px;
}

.line {
    width: 176px;
    height: 4px;
    display: flex;
    align-items: center;

    background-color: rgba(255, 255, 255, 0.5);
}

.line-range {
    position: relative;
    left: 23px;

    width: 98px;
    height: 100%;
    display: flex;
    align-items: center;

    background-color: white;
}

.switch {   
    position: relative;

    width: 4px;
    height: 4px;

    background-color: black;
    border: 8px solid white;
    border-radius: 50%;

    transition: transform 0.15s ease-in-out;
}

.switch:hover,
.switch:active,
.switch:focus {
    transform: scale(1.1);
}

.switch-min {
    left: -10px;
}

.switch-max {
    left: 78px;
} */